USE [master]
GO
/****** Object:  Database [QLTG]    Script Date: 7/12/2019 8:25:11 PM ******/
CREATE DATABASE [QLTG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLTG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLTG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTG]
GO
/****** Object:  Table [dbo].[CTDONHANG]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDONHANG](
	[SoLuong] [float] NULL,
	[MaDH] [int] NOT NULL,
	[MaDV] [varchar](10) NOT NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_CTDONHANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [varchar](10) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_MANHINH]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_MANHINH](
	[MaManHinh] [varchar](10) NOT NULL,
	[TenManHinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_MANHINH] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhan] [date] NULL,
	[NgayTra] [date] NULL,
	[TinhTrang] [nvarchar](10) NULL,
	[ThanhTien] [float] NULL,
	[GhiChu] [text] NULL,
	[MaNV] [varchar](50) NULL,
	[MaKH] [varchar](10) NULL,
	[MaKho] [varchar](10) NULL,
	[MaMG] [varchar](10) NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[CongNo] [float] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MaKho] [varchar](10) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MayGiat]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MayGiat](
	[MaMG] [varchar](10) NOT NULL,
	[TenMay] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_MayGiat] PRIMARY KEY CLUSTERED 
(
	[MaMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](12) NULL,
	[Email] [nvarchar](50) NULL,
	[NgayVaoLam] [date] NULL,
	[CMND] [varchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNG]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNG](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_QL_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MaNhom] [varchar](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_NGUOIDUNGNHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NHOMNGUOIDUNG]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NHOMNGUOIDUNG](
	[MaNhom] [varchar](10) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_NHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_PHANQUYEN]    Script Date: 7/12/2019 8:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_PHANQUYEN](
	[MaNhom] [varchar](10) NOT NULL,
	[MaManHinh] [varchar](10) NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_QL_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [DonGia]) VALUES (N'DV002', N'giặt', 50000)
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [DonGia]) VALUES (N'DV003', N'Giặt sấy', 30000)
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MaDH], [NgayNhan], [NgayTra], [TinhTrang], [ThanhTien], [GhiChu], [MaNV], [MaKH], [MaKho], [MaMG]) VALUES (0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [CongNo]) VALUES (N'KH01', N'đỗ hoàng thiện', N'140 lê trọng tấn', 264615565, 150000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [CongNo]) VALUES (N'KH02', N'Ngô Thanh Kiệt', NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email], [NgayVaoLam], [CMND]) VALUES (N'NV001', N'Lâm Thiên Lập', N'Nam', CAST(N'1998-12-02' AS Date), N'Cà Mau', N'0825674486', N'lamthienlap123@gmail.com', CAST(N'2019-06-02' AS Date), N'381844025')
INSERT [dbo].[QL_NGUOIDUNG] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'lap', N'123456', 1)
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHANG_DICHVU] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHANG_DICHVU]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHANG_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHO] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHO]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_MayGiat] FOREIGN KEY([MaMG])
REFERENCES [dbo].[MayGiat] ([MaMG])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_MayGiat]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG_QL_NGUOIDUNG] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[QL_NGUOIDUNG] ([TenDangNhap])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG_QL_NGUOIDUNG]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG_QL_NHOMNGUOIDUNG] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG_QL_NHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQUYEN_DM_MANHINH] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[DM_MANHINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQUYEN_DM_MANHINH]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQUYEN_QL_NHOMNGUOIDUNG] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQUYEN_QL_NHOMNGUOIDUNG]
GO
USE [master]
GO
